#c{
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
}

#container{
  height: 100vh;
  width: 100vw;
  position: absolute;
}
/* these need to be superimposed always */



#overlay{
  position: absolute;
  z-index: 2;
  margin:0;
  padding: 0;
}



.button{
  background: linear-gradient(chartreuse,green);
  box-shadow: inset 0 0 20px 10px rgba(0,128,0,.5);
  color: black;
  text-align: center;
  padding: 10px 0;
  border-radius: 100px;
  margin: 10px;
  font-family: sans-serif;
  display:block;
  width: 100px;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 40px;
  cursor: pointer;
  z-index: 4;
}

.active{
  fill: yellow;
}

html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}



.vizLine{
  stroke: white;
  stroke-width: .5;
}

.hidLine{
  stroke: transparent;
  stroke-width: 10
}

.lineGroup:hover .vizLine{
  stroke-width: 1;
}

body{
  background:black;
}

circle{
  cursor: pointer;
}
