#c{
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
}

#container{
  height: 100vh;
  width: 100vw;
  position: absolute;
}
/* these need to be superimposed always */



#overlay{
  position: absolute;
  z-index: 2;
  margin:0;
  padding: 0;
}



.button{
  background: linear-gradient(chartreuse,green);
  box-shadow: inset 0 0 20px 10px rgba(0,128,0,.5);
  color: black;
  text-align: center;
  padding: 10px 0;
  border-radius: 100px;
  margin: 10px;
  font-family: sans-serif;
  display:block;
  width: 100px;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 40px;
  cursor: pointer;
  z-index: 4;
}




.pointSelector{
  transition: r .3s, stroke .3s;
  animation-name: selector-activate;
  animation-duration: .3s;
}

@keyframes selector-activate{
  0% {r: 10; stroke: white}
  100%{r: 18; stroke: lime}
}

@keyframes point-activate{
  0% { fill: white; }
  100% { fill: lime; }
}

.point{
  transition: fill .3s;
  animation-name: point-activate;
  animation-duration: .3s;
}

.active > .pointSelector{
  r: 18;
  stroke: lime;
}

.active > .point{
  fill: lime;
}

html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.vizLine{
  stroke: white;
  stroke-width: .5;
}

.hidLine{
  stroke: transparent;
  stroke-width: 10
}

.lineGroup:hover .vizLine{
  stroke-width: 1;
}

body{
  background:black;
}

circle{
  cursor: pointer;
}

.instructions{
  color: white;
  position: absolute;
  z-index: 0;
  width: 300px;
  font-family: sans-serif;
  padding: 20px;
}



.svg-txt{
  font-family: monospace;
  font-size: 10px;
  
}
